/*
Archivo>   >>> _variables.scss
Proyecto   >>> TecnoCompu Gaming Store Web App
Aprendices >>> 
               Javier Alexander Echeverri Agudelo
               Miguel Alfredo Bermúdez Longas
Programa   >>> ADSO, SENA
Ficha      >>> 2977434
Fecha      >>> diciembre de 2024

-En este archivo se definen variables globales para la aplicación
*/

// Fuentes:
$fuentePrincipal: 'Roboto', sans-serif;
$fuenteSecundaria: 'Doto', sans-serif;

// Media queries para responsive web design:
$telefono: 480px;
$tablet: 768px;
$desktop: 1025px;
$pantalla4k: 2100px;

// Colores:
$colorPrimario: #8338ec;
$colorSecundario: #fb6f92;
$colorTerciario: #121212;
$fondo: #000;
// $fondo: #040404;
$blanco: #fff;
$negro: #000;

// Otros:
$separacion: 5rem;