/*
Archivo>   >>> _formulario.scss
Proyecto   >>> TecnoCompu Gaming Store Web App
Aprendices >>> 
               Javier Alexander Echeverri Agudelo
               Miguel Alfredo Bermúdez Longas
Programa   >>> ADSO, SENA
Ficha      >>> 2977434
Fecha      >>> diciembre de 2024

-En este archivo se definen estilos para la clase .formulario
*/

@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color' as c;

.formulario {
    padding-bottom: 3rem;
    @include m.tablet {
        padding-bottom: 0;
    }

    &__campo {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
             
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__input {
        width: 90%;
        padding: 1rem;
        border: .23rem solid v.$colorPrimario;
        text-align: center;
        @include m.tablet {
            width: 100%;
        }
    }

    &__boton--inicio {
        width: 90%;
        background-color: v.$colorPrimario;
        font-size: 2rem;
        padding: 1.2rem 3rem;
        border-radius: 1rem;
        font-weight: 700;
        display: block;
        text-align: center;
        color: v.$blanco;
        text-decoration: none;
        transition: background-color 300mx ease;
        border: none;
        
        &:hover {
            cursor: pointer;
            background-color: c.adjust(v.$colorPrimario, $lightness: -15%);
        }

        @include m.tablet {
            width: 100%;
        }
    }
}